body {
  background: aqua;
}

p {
  text-align: justify;
  font-family: Georgia;
}

h1 {
  font-family: Comic sans Ms;
  font-size: 60px;
  color: darkblue;
  text-align: center;
}

h4 {
  text-align: right;
  font-style: italic;
  font-family: Georgia;
}

h3 a {
  color: white;
  text-decoration: none;
}

.paraf1 {
  color: orange;
  text-align: center;
}

.paraf2 {
  text-align: center;
  line-height: 30px;
}